body{
    background-color: rgb(27, 168, 181);
    font-family: "Fontdiner Swanky", serif;
}

header.primary{
    background-color: rgb(231, 95, 234);
    color:rgb(215, 216, 69);
    text-align: center;
    text-shadow:1px 1px #000000;
    padding: 20px;
    letter-spacing: 4px;
}
header.primary a{
    color:rgb(63, 130, 72) ;
    text-decoration: none;
}

header.primary h1{
    font-size: 3.0rem;
    font-weight: bold;
}
header.primary p.subtitle{
    font-size: 1.3rem;
    font-weight: bold;
}
nav.primary ul{
    padding: 0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
nav.primary ul li{
    list-style-type: none;
    margin-bottom: 10px;
    flex: 1;
}
nav.primary ul li a {
    background-color: rgba(0,0,0,.4);
    padding: 5px 7.5px;
    display:block;
    border: 3px solid #000;
    border-radius: 10px;
    transition:1s;
}
nav.primary ul li a:hover{
    background-color: rgba(0,0,0,.8);
}

/* -------- Media Queries -------- */
@media screen and (max-width:500px){
    nav.primary ul{
    flex-direction: column;
    justify-content: center;
}
}